body {
  background-image: url('Desert.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 60px 280px;
}


.center {
  margin-left: auto;
  margin-right: auto;
width:280px;
}
h1 {
    text-align:center;
   
}
.para{

 
 width: 90px; height: 36px; 
 
  margin: 20px 35px 25px 0px;
position: absolute;
  top: 32%;
  
 
}


.pwd{


position: absolute;
  top: 37%;
  left: 50%;

}
.reg{


position: absolute;
  top: 41%;
  left: 41%;

}