.menu{

   position: absolute;
   top: 18%;
   left: 65px
  
 
}

.menu ul  {
     
    display: inline-flex;
   
     margin:  30px; 
 

}
.menu ul li {
    width: 150px;
    height: 40px;
   list-style-type: none;
   margin: 0 40px;
   cursor: pointer;
   border: 1px solid ;
   display: block;
   padding: 25px 22px;
   background: #BC8F8F;
   text-align: center;  

}
.menu ul li a {
color:black;
text-decoration:none;
word-spacing:2px;
}

